.footer {
  display: flex;
  gap: clamp(50%, 25vw, 60%);
  width: 100%;
  padding: 4% 8%;
  line-height: 1.5;
}

@media screen and (max-width: 600px) {
  .footer {
    flex-direction: column;
  }
}
.footer_left {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  animation: fadeIn 5s;
}

.footer_right {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  animation: fadeIn 5s;
}

.footer_center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 2%;
}

/*# sourceMappingURL=footer.css.map */
