/* Styling Text */
.title_home, .home_talks_game {
  font-size: var(--var-titleh1);
  font-family: "Poppins Black", sans-serif;
  text-transform: uppercase;
  line-height: 0.9;
}

.lower_title_home {
  font-size: clamp(2vw, 5em, 15vw);
  font-family: "Poppins Black", sans-serif;
  text-transform: uppercase;
  line-height: 0.9;
}

/* Home Banner */
.banner_header {
  display: flex;
}

.banner_header > .left_banner_header {
  justify-content: flex-start;
}

.banner_header > .right_banner_header {
  justify-content: flex-end;
  margin: 10% 5%;
}

.banner_home_visual {
  display: flex;
  gap: 2%;
  margin-top: 4vh;
}

.banner_p {
  font-family: "Poppins", sans-serif;
  font-size: clamp(0.5rem, 2vw, 1rem);
  text-transform: uppercase;
  font-weight: 700;
}

.share_knowlegde {
  display: flex;
  justify-content: center;
  align-items: center;
  width: clamp(10vw, 5em, 20vw);
  height: 4em;
  border-radius: 2%;
  background-color: #FFFDFC;
  border: solid 3px #404657;
  box-shadow: 5px 5px 0 #404657;
  margin-top: -1.5em;
}

/* Puissance 4 */
.card_border {
  z-index: 1;
  background-color: #FFFDFC;
  height: clamp(14em, 18vw, 20em);
  width: clamp(12em, 12vw, 18em);
  border: solid 0.25em #404657;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 2em 1em;
}

.round {
  height: clamp(2em, 5vw, 4em);
  width: clamp(2em, 5vw, 4em);
  border-radius: 50%;
}

.greenblue {
  background-color: #A5FFD8;
  border: solid 0.2em #404657;
}

.bluegreen {
  background-color: #404657;
  border: solid 0.2em #A5FFD8;
}

/* Let the player choose theme */
.home_theme_topmargin {
  margin-top: 5em;
}

.home_theme {
  display: flex;
  flex-direction: column;
}

.link_home_theme {
  margin: 0.6px 0;
  text-decoration: none;
  border: solid 1px #404657;
  padding: clamp(1em, 2vw, 3em) clamp(1em, 2vw, 3em);
}
.link_home_theme:hover {
  text-transform: uppercase;
  font-family: "Poppins Black", sans-serif;
  background-color: #A5FFD8;
}

/* Home Talks */
.home_talks_game {
  margin: 0.5em 0;
  line-height: 0.8em;
}

.home_talks_game_text {
  margin-bottom: 2em;
}

.home_talk_motivation {
  display: flex;
  justify-content: center;
  align-items: center;
  width: clamp(12em, 10vw, 22em);
  height: 6em;
  border-radius: 2%;
  background-color: #FFFDFC;
  border: solid 3px #404657;
  box-shadow: 5px 5px 0 #404657;
  margin: 2em 10% 2em 50%;
}

@media screen and (max-width: 600px) {
  .home_talk_motivation {
    margin: 0;
  }
}
/* background students and multiplayers*/
.margin_students {
  background-color: #DDDDDD;
  padding: 10vh 0;
}

.margin_students > .margin {
  margin: 0.2em 5%;
}

.background_multiplayer {
  background-color: #A5FFD8;
  padding: 10vh 0;
}

.duelStrangers {
  color: #A5FFD8;
  text-shadow: #404657 0.02em 0 0, #404657 0 0.02em 0, #404657 -0.02em 0 0, #404657 0 -0.02em 0;
}

/*# sourceMappingURL=homepage.css.map */
