.sticky_navbar {
  position: fixed;
  box-shadow: 5px 5px 35px rgba(188, 191, 203, 0.1137254902);
  background-color: #fffdfc;
  top: 0;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  height: 5em;
  z-index: 1;
}

.text_navbar {
  border: solid 1px #404657;
  padding: 0 2em;
}
.text_navbar:hover {
  box-shadow: 5px 5px 0 #404657;
  background-color: #A5FFD8;
  transform: translateY(-0.2rem);
  font-weight: 600;
  transition: 400ms;
}

.left_navbar {
  grid-area: 1/6;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5%;
  background-color: #FFFDFC;
  height: fit-content;
  width: 100%;
}
.left_navbar div {
  text-align: center;
  width: 8em;
  margin: 1.6em 0;
}
.left_navbar.link_navbar_navbar {
  grid-area: 1/1;
}
.left_navbar.link_homepage_navbar {
  grid-area: 1/2;
}
.left_navbar.link_profil_navbar {
  grid-area: 1/3;
}
.left_navbar.link_quizz_navbar {
  grid-area: 1/4;
}

.right_navbar {
  grid-area: 1/11;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5%;
  background-color: #FFFDFC;
  height: fit-content;
  width: 100%;
}
.right_navbar div {
  padding: 0 4em;
  margin: 1.6em 0;
}
.right_navbar.link_subscription_navbar {
  grid-area: 1/1;
}
.right_navbar.link_connexion_navbar {
  grid-area: 1/2;
}

/*# sourceMappingURL=navbar.css.map */
