.containerQuizz {
  margin: 10% 0;
  display: flex;
  width: 100%;
}

@media screen and (max-width: 60em) {
  .containerQuizz {
    flex-direction: column;
  }
}
/* Left Side Container */
.containerQuizzLeft {
  justify-content: flex-start;
  width: 100%;
  padding: 5%;
}

.containerAnswerQCM {
  display: grid;
  grid-template-columns: repeat(1fr, 2);
  margin-top: 4%;
  gap: 6%;
}

.titleQuizz {
  color: #404657;
  text-transform: uppercase;
}

.answerQCM {
  border: solid 1px #404657;
  padding: 0.8em 0;
  text-align: center;
}
.answerQCM:hover {
  box-shadow: 5px 5px 0 #404657;
  font-weight: 700;
  transition: 600ms;
}

.answerOne {
  grid-area: 1/1;
}

.answerTwo {
  grid-area: 1/2;
}

.answerThree {
  grid-area: 2/1;
}

.answerFour {
  grid-area: 2/2;
}

.answerFive {
  grid-area: 3/1;
}

.answerSix {
  grid-area: 3/2;
}

.answerSeven {
  grid-area: 4/1;
}

.answerEight {
  grid-area: 4/2;
}

@media screen and (max-width: 45em) {
  .containerAnswerQCM {
    gap: 2%;
  }
  /* New position for answer's grid for phone and tablette*/
  .answerOne {
    grid-area: 1/1;
  }
  .answerTwo {
    grid-area: 2/1;
  }
  .answerThree {
    grid-area: 3/1;
  }
  .answerFour {
    grid-area: 4/1;
  }
  .answerFive {
    grid-area: 5/1;
  }
  .answerSix {
    grid-area: 6/1;
  }
  .answerSeven {
    grid-area: 7/1;
  }
  .answerEight {
    grid-area: 8/1;
  }
}
/* Right Side Container */
.containerQuizzRight {
  justify-content: flex-end;
  width: 100%;
  height: auto;
  padding: 5%;
}

.textQuizz {
  color: #fff;
  background-color: #404657;
  padding: 4vw 10vw;
  font-size: clamp(20px, 2em, 35px);
  font-weight: 900;
}

@media screen and (max-width: 60em) {
  .textQuizz {
    margin-top: 5%;
  }
}

/*# sourceMappingURL=quizz.css.map */
