/* Break Points For Responsiv */
/* General styling */
:root {
  --var-textSize: clamp(12px, 1em, 22px);
  --var-titleh1: clamp(2vw, 10em, 10vw);
}

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #FFFDFC;
  color: #404657;
}

.margin {
  margin: 10% 5%;
}

a:link, a:visited, a:active {
  text-decoration: none;
  color: #404657;
}

/*# sourceMappingURL=style.css.map */
