/* Break Points For Responsiv */
$breakpoints: (
  "phone-down": 500px,
  "tablet-up": 768px,
  "tablet-down": 900px,
  "desktop-up": 1024px,
  "desktop-down": 1280px,
  "widescreen-up": 1440px
);
@font-face {
    font-family: 'Poppins';
    src: url(/CSS/Poppins/Poppins-Black.ttf);
    src: url(/CSS/Poppins/Poppins-Bold.ttf);
    src: url(/CSS/Poppins/Poppins-ExtraBold.ttf);
    src: url(/CSS/Poppins/Poppins-Medium.ttf);
    src: url(/CSS/Poppins/Poppins-Light.ttf);
    src: url(/CSS/Poppins/Poppins-ExtraLight.ttf);
    src: url(/CSS/Poppins/Poppins-BlackItalic.ttf);
    src: url(/CSS/Poppins/Poppins-BoldItalic.ttf);
    src: url(/CSS/Poppins/Poppins-ExtraBoldItalic.ttf);
    src: url(/CSS/Poppins/Poppins-Italic.ttf);
    src: url(/CSS/Poppins/Poppins-LightItalic.ttf);
    src: url(/CSS/Poppins/Poppins-ExtraLightItalic.ttf);
}
/* General styling */
:root
{
 --var-textSize: clamp(12px, 1em, 22px);
 --var-titleh1: clamp(2vw, 10em, 10vw);
}
*
{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
body
{
    background-color: #FFFDFC;
    color: #404657;
}
.margin
{
    margin: 10% 5%;
}
a:link, a:visited, a:active
{
    text-decoration: none;
    color: #404657;
}
h1, h2, h3, h4, h5, h6, p{
    
}