.container_subscribe{
    margin: 10em 5%;
    width: 100%;
    display: flex;
    justify-content: center;
    
    .subscribe_img{
        width: 100%;
        .img_sub_size{
            width: 80%;
            height: auto;
        }
    }

    .subscribe_form{
        width: 100%;
        height: auto;
        border-radius: 50%;
        font-size: 1.5em;
        font-weight: 500;
    }
}

.form-style{
    border: 2px solid #404657;
    padding: 0.6em 20em 0.6em 1em;
    margin: 0.4em 0;
    font-size: 1rem;
}

/* #404657 #FFFDFC */
.submit_button{
    border: 1px solid #404657;
    border-radius: 2px;
    background-color: #FFFDFC;
    color: #404657;
    padding: 0.5em 1.5em;
    margin: 2em 0;
    text-transform: uppercase;
    font-weight: 700;
    &:hover{
        border: 1px solid #404657;
        background-color: #404657;
        color: #FFFDFC;
    }
}